pandas
tiktoken
scikit-learn
python-dotenv
matplotlib
plotly
langchain-experimental
langchain==0.0.300
openai==0.27.8
wget==3.2
azure-identity==1.14.0
azure-search-documents==11.4.0b6
pypdf
faiss-cpu
IPython
ipykernel
azure-cognitiveservices-speech
azure-ai-vision
pymssql
azure.storage.blob
